<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>プロフィール編集</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<div>

    <form th:action="@{/user/edit}" method="post" th:object="${user}">
        <div>
            <label>アカウント名：
                <input type="text" th:field="*{account.name}"/>
            </label>
        </div>
        <div>
            <label>姓：
                <input type="text" th:field="*{lastName}"/>
            </label>
        </div>
        <div>
            <label>名：
                <input type="text" th:field="*{firstName}"/>
            </label>
        </div>
        <div>
            <label>性別：
                <select type="text" th:field="*{gender}">
                    <option th:each="type : ${genderTypes}"
                            th:value="${type}"
                            th:text="${type}">男</option>
                </select>
            </label>
        </div>
        <div>
            <label>自己紹介：
                <textarea rows="8" cols="100" th:field="*{introduce}"></textarea>
            </label>
        </div>
        <div>
            <input type="submit" value="更新する"/>
        </div>
    </form>
</div>

</body>

</html>